doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.header
      div.container
        img(src='/images/allianz.jpg', alt='')
    block content